#!/bin/bash

# A script to launch Lacre for Postfix's simple filter using python virtual environment. 
source {{ lacre_homedir }}/venv/bin/activate 
{{ lacre_homedir }}/venv/bin/python{{ lacre_python_version }} {{ lacre_app_dir }}/lacre.py
