# Example configuration for Lacre logging.  If you don't intend to change the
# log format, you can just keep this file unchanged.

# HANDLERS:
#
# Two main targets for log entries are defined here: syslog and a plain text
# log file.  They are available as "handlers" named "syslog" and "lacrelog"
# respectively.

[loggers]
keys={{ lacre_log_loggers_keys }}

[logger_root]
level={{ lacre_log_logger_level }}
# Comma-separated handler names, see HANDLERS note at the top.
handlers={{ lacre_logger_handlers }}

[handlers]
# Comma-separated handler names, see HANDLERS note at the top.
keys={{ lacre_log_handlers_keys }}

[formatters]
keys={{ lacre_log_formatters }}

#
# By default, include messages from all log levels up to DEBUG.
# However, productive systems may use something less verbose, like
# WARN or even ERROR.
#
[handler_lacrelog]
class={{ lacre_log_handler }}
level={{ lacre_log_level }}
formatter={{ lacre_log_formatter }}
args=('test/logs/lacre.log', 'a+')

# You may want to change the second argument (handlers.SysLogHandler.LOG_MAIL)
# to change the syslog facility used to record messages from Lacre.
#
# Options you can consider are "localX" facilities, available under names from
# handlers.SysLogHandler.LOG_LOCAL0 to handlers.SysLogHandler.LOG_LOCAL7.
#
# Please refer to your syslog configuration for details on how to separate
# records from different facilities.
[handler_syslog]
class={{ lacre_log_syslog_class }}
level={{ lacre_log_syslog_level }}
formatter={{ lacre_log_syslog_formatter }}
args=('/dev/log', handlers.SysLogHandler.LOG_MAIL)

#
# Default Postfix log format.
#
[formatter_postfixfmt]
format={{ lacre_log_postfix_format }}
datefmt={{ lacre_log_postfix_datefmt }}
style={{ lacre_log_postfix_style }}
validate={{ lacre_log_postfix_validate }}

