<?php
/*

	gpg-mailgate

	This file is part of the gpg-mailgate source code.

	gpg-mailgate is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	gpg-mailgate source code is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
	GNU General Public License for more details.

	You should have received a copy of the GNU General Public License
	along with gpg-mailgate source code. If not, see <http://www.gnu.org/licenses/>.

*/

//
// GENERAL SITE SETTINGS
//

//web team contact
// this email address will be displayed if there is a database error
$config['email_web'] = '{{ lacre_webgate_email_web }}';

//address to send emails from
$config['email_from'] = '{{ lacre_webgate_email_from }}';

//this will be used as the subject when a user requests to add a PGP key
$config['email_subject_requestpgp'] = '{{ lacre_webgate_email_subject_requestpgp }}';

//site URL, without trailing slash
$config['site_url'] = '{{ lacre_webgate_site_url }}';

//site logo
$config['site_logo'] = '{{ lacre_webgate_site_logo }}';

//link to FAQ page
$config['site_faqurl'] = '{{ lacre_webgate_site_faqurl }}';

//link to tutorial website
$config['site_howurl'] = '{{ lacre_webgate_site_howurl }}';

//link to contact page
$config['site_contacturl'] = '{{ lacre_webgate_site_contacturl }}';

//title of the website (displayed on home page)
$config['site_title'] = '{{ lacre_webgate_site_title }}';

//language file to use (see language subdirectory)
$config['language'] = '{{ lacre_webgate_language }}';

//whether debug mode should be enabled
$config['debug'] = '{{ lacre_webgate_debug }}';

//
// MAIL SETTINGS
//

//whether to send mail through SMTP (instead of PHP mail function)
$config['mail_smtp'] = {{ lacre_webgate_mail_smtp }};

//SMTP settings, if mail_smtp is enabled
//this requires Net_SMTP from http://pear.php.net/package/Net_SMTP/ to be installed
$config['mail_smtp_host'] = '{{ lacre_smtp_host }}';
$config['mail_smtp_port'] = {{ lacre_smtp_port }};
$config['mail_smtp_username'] = '{{ lacre_smtp_username }}';
$config['mail_smtp_password'] = '{{ lacre_smtp_password }}';

//
// DATABASE SETTINGS
//

//database name (MySQL only); or see include/dbconnect.php
$config['db_name'] = '{{ lacre_db_name }}';

//database host
$config['db_host'] = '{{ lacre_db_host }}';

//database username
$config['db_username'] = '{{ lacre_db_username }}';

//database password
$config['db_password'] = '{{ lacre_db_password }}';

//
// PGP VERIFICATION SETTINGS
//

//whether to enable immediate verification of PGP keys
// keys will always be verified with the email address in our cron job
// but this will enable verification from the web interface before email confirmation
//for this to work, Crypt_GPG from http://pear.php.net/Crypt_GPG must be installed
// (as well as any of its dependencies), and pgpverify_tmpdir must be set
$config['pgpverify_enable'] = {{ lacre_webgate_pgpverify }};

//a temporary directory to use for PGP verification, without trailing slash
// gpgmw will create subdirectories from here to use as temporary gpg home directories
// these directories will (should) be deleted immediately after use
$config['pgpverify_tmpdir'] = '{{ lacre_webgate_pgpverify_tmpdir }}';

//whether to allow blank "keys"
// this is useful to allow users to delete their key from the keystore
// if they no longer want encryption
$config['pgpverify_allowblank'] = {{ lacre_webgate_pgpverify_allowblank }};

//
// LOCK SETTINGS
//

//the time in seconds a user must wait before trying again; otherwise they get locked out (count not increased)
$config['lock_time_initial'] = array('requestpgp' => {{ lacre_webgate_lock_time }});

//the number of tries a user has (that passes the lock_time_initial test) before being locked by overload (extended duration)
$config['lock_count_overload'] = array('requestpgp' => {{ lacre_webgate_lock_retrycount }});

//the time that overloads last
$config['lock_time_overload'] = array('requestpgp' => {{ lacre_webgate_lock_time }});

//time after which locks no longer apply, assuming the lock isn't active
$config['lock_time_reset'] = {{ lacre_webgate_lock_reset }};

//max time to store locks in the database; this way we can clear old locks with one function
$config['lock_time_max'] = {{ lacre_webgate_locktime_max }};

?>

