[Unit]
Description=GPG Lacre mailgate daemon
After=syslog.target network.target

[Service]
Type=simple
User={{ lacre_username }}
Group={{ lacre_group }}
WorkingDirectory={{ lacre_app_dir }}
ExecStart={{ lacre_systemd_execstart }}
Restart=always
RestartSec={{ lacre_systemd_restartsec }}

[Install]
WantedBy=multi-user.target

